{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "knexClient": "./knexClient"
      }
    }],
    "@babel/plugin-proposal-class-properties"

  ]
}
